* { margin:0 auto; padding:0; border:0;}
body { background:#61A5D6; font:12px "ו"; color:#004C7E;}
input { border:1px solid #004C7E;}
.main { background:url(../images/bg.jpg) repeat-x; height:600px}
.login { background:#DDF1FE; width:468px; height:262px; border:1px solid #000;}
.top { background:url(../images/login_bg.jpg) repeat-x; width:464px; height:90px; border:1px solid #2376B1; margin-top:1px;}
.logo { background:url(../images/logo2.gif) no-repeat; width:214px; height:42px; float:left; margin:29px 0 0 14px;}
.lable { background:url(../images/lable.gif) no-repeat; width:157px; height:32px; float:right; margin:81px 31px 0 0;}
.button { background:url(../images/button.gif) no-repeat; width:71px; height:24px; border:0;color: #FFFFFF;font-weight: bold;} 
